$checked-color: #2D9348;
$hover-complete-color: #d2fdd1;
$hover-color: #9290fa;
$gray-border: #363636;

@use '../../styles/variables.scss' as v;



@mixin editable($hover-color) {
  &:hover {
    cursor: pointer;
    color: $hover-color;
  }
}

@mixin cardContainer() {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 17rem;
  box-sizing: border-box;
  padding: 0rem 1rem 1rem 1rem;
  border: 3px solid $gray-border;
  border-radius: 18px;
  background-color: #262626;

  // we want all the icons to be white
  svg {
    color: white;
  }

  .taskTitle {
    width: 100%;
    color: #DEDEDE;
    margin: 2rem 0 .5rem 0;
    
  }

  .description {
    width: 100%;
    color: #7e7e7e;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .taskFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }

  .checkboxContainer {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    transition: border-color 0.25s;
  }

}

.taskSkeleton {
  @include cardContainer();
}

.taskCard {
    @include cardContainer();
    
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.05);
      cursor :grab;
      box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.5);
    }

    .taskTitle {
      @include editable($hover-color);
    }

    .taskTitleInput {
      color: #DEDEDE;
      margin: 2rem 0 .5rem 0;
      padding: .5rem;
      font-size: 1em;
      width: 100%;
      background-color: transparent;

      outline: none;
      border-radius: 4px;
      
      &:focus {
        border: 2px solid #888888;
      }
    }

    .description {
      @include editable($hover-color);
    }

    .descriptionInput {
      width: 100%;
      height: 7rem;
      padding: .5rem;
      font-size: .9em;
      font-weight: 400;
      background-color: transparent;

      outline: none;
      border-radius: 4px;

      &:focus {
        border: 2px solid #888888;
      }
    }

    .taskFooter {
      .deleteButton {
        background-color: transparent;
        transition: all 0.4s ease-in-out;
        width: 1.8rem;
        height: 1.8rem;

        &:hover {
          background-color: rgb(199, 98, 73);
        }
      }
    }

    .checkboxContainer {

      .checkbox {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
          border: 2px solid white;
        }

        .indicator {
          height: 1.2rem;
        }
      }
    }
  }

  .completed {
    background-color: #47CA50;
    border: 3px #179B3A solid;

    .taskTitle {
      color: v.$black;
      @include editable($hover-complete-color);
    }

    .taskTitleInput {
      color: v.$black;
      &:focus {
        border: 2px solid v.$black;
      }
    }

    .description {
      color: #313131;
      font-weight: 500;
      @include editable($hover-complete-color);
    }

    .descriptionInput {
      color: v.$black;
      font-weight: 500;

      &:focus {
        border: 2px solid v.$black;
        font-weight: 500;
      }
    }

    .checkbox {
      background-color: $checked-color;
      border-color: #179B3A;
    }

    .checkboxLabel {
      color: v.$black;
      font-weight: 500;
    }
  }