.tasksView {
    //background-color: #4d3abf;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .7rem 0 0 1rem;

    .header {
        display: flex;
        gap: 1rem;
        align-items: end;
        width: fit-content;
        margin: 2rem .5rem;
        margin-bottom: 2.5rem;

        @mixin headerButton($color) {
            display: flex;
            justify-content: center;

            padding: 0.2rem;

            margin-bottom: 6px;
            border-radius: 5px;
            background-color: $color;
            cursor: pointer;

            color: white;
            display: flex;
            align-items: center;

            transition: all 0.3s ease;

            svg {
                font-size: 18px;
            }

            &:hover {
                //background-color: #4d3abf;
                transform: scale(1.08);
            }
            
            height: 2.5rem;
            width: 2.5rem;
        }

        button.addTask {
           @include headerButton(#6145fd)
        }

        button.refresh {
            @include headerButton(#673AB7)
        }
    }

    .tasksContainer {
        border-radius: 15px;
        width: 100%;
        height: -webkit-fill-available;
        padding: 1rem;
        border: 1px dashed #2e2e2e;
        border-width: 4px;
        overflow: auto;

        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}